{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href={% static 'css/home.css' %}>
    <title>Resume Builder</title>
</head>
<body>
</body>
<div class="container-main">
    <div class="container-content">
        <h1>Resume Builder</h1>
        <br><br><br><br>
        <h2> Your Resume is been sent on your email ID. <br>Please check it out !!!</h2>
        <br><br><br>
    </div>

    <div class="footer">
        Designed & Developed By :  Kshitij Sangar
        <br><br>
    </div>
</div>

</html>